.settings/
bin/
logs/
target/
output/
resources/flatfiles/
**/nlp_inputs/
resources/nltk_data/
*.csv
**/*.csv
.classpath
.idgen
.project
.metadata/
.recommenders/
**/glove.6B.100d.txt
**/HumanResources.csv


